@use 'sass:color';

@use '#styles/mixins/colours' as *;
@use '#styles/mixins/fonts' as *;


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  @include font-body;
  font-size: 1rem;
}

html, body {
  overflow-x: hidden;
}

::selection {
  background: color.adjust($col-prot, $alpha: -0.2) !important;
}
